@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
@import url("https://fontawesome.com/icons/gauge?f=classic&s=solid");

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  /* height: 100%; */
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(113, 99, 186, 255);
}

.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}

.logo {
  height: 80px;
  padding: 16px;

}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}

.menu li:hover,
active {
  background: #e0e0e058;
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.main--content {
  position: relative;
  background: #efe9e9;
  width: 100%;
  padding: 1rem;
}

.main--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;

}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 10px 2rem;

}

.header--title {
  color: rgba(113, 99, 186, 225);

}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search--box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(113, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.search--box input {
  background: transparent;
  padding: 10px;

}

.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.search--box i:hover {
  transform: scale(1.2);
}

.body--admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1%;
  width: 100%;
  /* height: 100%; */
  /* background-color:rgba(113 , 99, 186,255); */
}

.row {
  background-color: #efe9e9;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items:center; */
  align-content: space-between;
  /* justify-items: center; */
}

/* @media (width<375) {

} */
.admin--text {
  margin: 1rem;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.submit--form {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

/* .radio{
    display: flex;
    justify-content: space-between;
} */
.body--admin form {
  padding: 1rem;
  height: 50vh;
  border: 1px solid black;
  background-color: rgba(113, 99, 186, 255)
}

.show--admin th,
td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
  /* margin: 1rem; */
}

.table-responsive {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive tbody {

  height: 3rem;
  overflow: scroll;
}

.table,
.jsgrid .jsgrid-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table thead th,
.jsgrid .jsgrid-table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: 500;
  font-size: .875rem;
  text-transform: uppercase;
}

.table td,
.jsgrid .jsgrid-table td {
  font-size: 0.875rem;
  padding: .875rem 0.9375rem;
}

button {
  background-color: rgb(70, 213, 228);
  border-radius: 3px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

body{
  padding: 100px 0;
  background: #ecf0f4;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #222;
}
.container{
  max-width: 1230px;
  width: 100%;
}

h1{
  font-weight: 700;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
}

.header{
  margin-bottom: 80px;
}
#description{
  font-size: 24px;
}

.form-wrap{
  background: rgba(255,255,255,1);
  width: 100%;
  max-width: 850px;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap:before{
  content: "";
  width: 90%;
  height: calc(100% + 60px);
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: -30px;
  background: #00bcd9;
  z-index: -1;
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-group{
  margin-bottom: 25px;
}
.form-group > label{
  display: block;
  font-size: 18px;	
  color: #000;
}
.custom-control-label{
  color: #000;
  font-size: 16px;
}
.form-control{
  height: 50px;
  background: #ecf0f4;
  border-color: transparent;
  padding: 0 15px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form-control:focus{
  border-color: #00bcd9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
textarea.form-control{
  height: 160px;
  padding-top: 15px;
  resize: none;
}

.btn{
  padding: .657rem .75rem;
  font-size: 18px;
  letter-spacing: 0.050em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #00bcd9;
  border-color: #00bcd9;
}

.btn-primary:hover {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:focus, .btn-primary.focus {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}